<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/index.js"></script>
    <title>Employee Certifications</title>
</head>
<body>
<header>
    <h1>Employee Certifications</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="departments">Departments</a>
  <a href="certifications">Certifications</a>
  <a href="employees">Employees</a>
  <a href="training_sessions">Training Sessions</a>
  <a href="employees_cert">Employee Certifications</a>
  <a href="employees_train">Employee Trainings</a>
</nav>
<main>
    <button onClick="newEmployeeCert()" class="btn">Add New Certification</button>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Employee Certification ID</th>
                <th>Employee ID</th>
                <th>Certification ID</th>
                <th>Date Obtained</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>
                    <a href="#" onClick="updateEmployeeCert(this)" data-id={{data.employeeCertID}} data-employeeID={{data.employeeID}} data-certID={{data.certID}} data-dateObtained={{data.dateObtained}} data-expirationDate={{data.expirationDate}}>Edit</a> |
                    <a href="#" onClick="deleteEmployeeCert(this)" data-id={{data.employeeCertID}} data-employeeID={{data.employeeID}} data-certID={{data.certID}} data-dateObtained={{data.dateObtained}} data-expirationDate={{data.expirationDate}}>Delete</a>
                </td>
                <td>{{data.employeeCertID}}</td>
                <td>{{data.employeeID}}</td>
                <td>{{data.certID}}</td>
                <td>{{data.dateObtained}}</td>
                <td>{{data.expirationDate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

     <div id="insert" class="form-container">
        <form>
            <legend>Add New Certification</legend>
            <label>Employee ID: <input type="number" name="employeeID"></label>
            <label>Certification ID: <input type="number" name="certID"></label>
            <label>Date Obtained: <input type="date" name="dateObtained"></label>
            <label>Expiration Date: <input type="date" name="expirationDate"></label>
            <button type="submit">Submit</button>
            <button type="button" onClick="browseMain()">Cancel</button>
        </form>
    </div>

    <div id="update" class="form-container">
        <form>
            <legend>Update Certification</legend>
            <input type="hidden" id="updateEmployeeCertID" name="id">
            <label>Employee ID: <input type="number" id="updateEmployeeCertEmployeeID" name="employeeID" disabled></label>
            <label>Certification ID: <input type="number" id="updateEmployeeCertCertID" name="certID" disabled></label>
            <label>Date Obtained: <input type="date" id="updateEmployeeCertDateObtained" name="dateObtained"></label>
            <label>Expiration Date: <input type="date" id="updateEmployeeCertExpirationDate" name="expirationDate"></label>
            <button type="submit">Update</button>
            <button type="button" onClick="browseMain()">Cancel</button>
        </form>
    </div> 

    <div id="delete" class="form-container">
    <form id="deleteCertForm">
        <legend>Delete Certification</legend>
        <p>Are you sure you want to delete the certification for Employee ID: <span id="deleteEmployeeCertEmployeeID"></span> and Certification ID: <span id="deleteEmployeeCertCertID"></span>?</p>
        <input type="hidden" name="id" id="deleteEmployeeCertID" />
        <button type="submit">Delete</button>
        <button type="button" onClick="browseMain()">Cancel</button>
    </form>
    </div>
</main>
<footer>
    <p>© 2023 Company Name. All rights reserved.</p>
</footer>
</body>
</html>
