<head>
  <title>Employee Certifications</title>
  <script src="/js/add_employee_certification.js"></script>
  <script src="/js/delete_employee_certification.js"></script>
  <script src="/js/update_employee_certification.js"></script>
</head>
<header>
  <h1>Employee Certifications</h1>
</header>
<nav class="navbar">
  <a href="/">Home</a>
  <a href="departments">Departments</a>
  <a href="certifications">Certifications</a>
  <a href="employees">Employees</a>
  <a href="training_sessions">Training Sessions</a>
  <a href="employees_cert">Employee Certifications</a>
  <a href="employees_train">Employee Training Sessions</a>
</nav>
<main>
  <div id="browse">
    <button onClick="newEmployeeCert()" class="btn">Add New Employee
      Certification</button>
    <table>
      <thead>
        <tr>
          <th>Action</th>
          <th class="hidden">ID</th>
          <th>Employee</th>
          <th>Certification</th>
          <th>Date Obtained</th>
          <th>Expiration Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>
              <a
                href="#"
                onClick="updateEmployeeCert(this)"
                data-employeeID={{this.employeeID}}
                data-id={{this.employeeCertID}}
                data-certID={{this.certID}}
                data-dateObtained={{this.dateObtained}}
                data-expirationDate={{this.expirationDate}}
              >Edit</a>
              |
              <a
                href="#"
                onClick="deleteEmployeeCert(this)"
                data-employeeID={{this.employeeID}}
                data-employeeName="{{this.fName}} {{this.lName}}"
                data-id={{this.employeeCertID}}
                data-certID={{this.certID}}
                data-certName="{{this.certName}}"
                data-dateObtained={{this.dateObtained}}
                data-expirationDate={{this.expirationDate}}
              >Delete</a>
            </td>
            <td>{{this.fName}} {{this.lName}}</td>
            <td>{{this.certName}}</td>
            <td class="hidden">{{this.employeeCertID}}</td>
            <td>{{this.dateObtained}}</td>
            <td>{{this.expirationDate}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div id="insert" class="form-container" style="display:none;">
    <form id="add-employee-cert-form">
      <legend><strong>Add New Employee Certification</strong></legend>
      <div>
        <label>Employee: *
          <select id="newEmployeeCertEmployeeID">
            {{#each employee}}
              <option value={{this.employeeID}} name="employeeID">{{this.fName}}
                {{this.lName}}</option>
            {{/each}}
          </select>
        </label>
      </div>
      <div>
        <label>Certification: *
          <select id="newEmployeeCertCertID">
            {{#each cert}}
              <option value={{this.certID}} name="certID">{{this.name}}</option>
            {{/each}}
          </select>
        </label>
      </div>
      <label>Date Obtained: *
        <div class="input">
          <input
            id="newEmployeeCertDateObtained"
            type="date"
            name="dateObtained"
            required
          /><span class="req"></span></div></label>
      <label>Expiration Date: *
        <div class="input">
          <input
            id="newEmployeeCertExpirationDate"
            type="date"
            name="expirationDate"
            required
          /><span class="req"></span></div></label>
      <input class="btn" type="submit" value="Add Employee Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseMain('add-employee-cert-form')"
      />
    </form>
  </div>

  <div id="update" class="form-container" style="display:none;">
    <form id="update-employee-certification-form">
      <legend><strong>Update Employee Certification</strong></legend>
      <div>
        <input type="hidden" id="updateEmployeeCertID" />
        <label>Employee: *
          <select id="updateEmployeeCertEmployeeID">
            {{#each employee}}
              <option value={{this.employeeID}}>{{this.fName}}
                {{this.lName}}</option>
            {{/each}}
          </select>
        </label>
      </div>
      <div>
        <label>Certification: *
          <select id="updateEmployeeCertCertID">
            {{#each cert}}
              <option value={{this.certID}}>{{this.name}}</option>
            {{/each}}
          </select>
        </label>
      </div>
      <label>Date Obtained: *
        <div class="input">
          <input
            type="date"
            id="updateEmployeeCertDateObtained"
            name="dateObtained"
            required
          /><span class="req"></span></div></label>
      <label>Expiration Date: *
        <div class="input">
          <input
            type="date"
            id="updateEmployeeCertExpirationDate"
            name="expirationDate"
            required
          /><span class="req"></span></div></label>
      <input class="btn" type="submit" value="Update Employee Certification" />
      <input class="btn" type="button" value="Cancel" onClick="browseMain()" />
    </form>
  </div>

  <div id="delete" class="form-container" style="display:none;">
    <form id="deleteEmployeeCertForm">
      <legend><strong>Delete Employee Certification</strong></legend>
      <input type="hidden" id="deleteEmployeeCertID" />
      <label>Employee:
        <input
          type="text"
          id="deleteEmployeeCertEmployeeName"
          disabled
        /></label>
      <label>Certification:
        <input type="text" id="deleteEmployeeCertCertID" disabled /></label>
      <input class="btn" type="submit" value="Delete Employee Certification" />
      <input class="btn" type="button" value="Cancel" onClick="browseMain()" />
    </form>
  </div>
</main>