<head>
  <title>Employees</title>
  <script src="/js/add_employee.js"></script>
  <script src="/js/delete_employee.js"></script>
  <script src="/js/update_employee.js"></script>
</head>
<body onload="browseMain()">
  <header>
    <h1>Employees</h1>
  </header>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="departments">Departments</a>
    <a href="certifications">Certifications</a>
    <a href="employees">Employees</a>
    <a href="training_sessions">Training Sessions</a>
    <a href="employees_cert">Employee Certifications</a>
    <a href="employees_train">Employee Training Sessions</a>
  </nav>
  <main>
    <div id="browse">
      <button onClick="newEmployee()" class="btn">Add New Employee</button>
      <table class="employeeTable">
        <thead>
          <tr>
            <th>Action</th>
            <th class="hidden">ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="employeeEmail">Email</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          {{#each employees}}
            <tr>
              <td>
                <a
                  href="#"
                  onClick="updateEmployee(this)"
                  data-id="{{this.employeeID}}"
                  data-fname="{{this.fname}}"
                  data-lname="{{this.lname}}"
                  data-email="{{this.email}}"
                  data-deptID={{this.deptID}}
                  data-deptname="{{this.departmentName}}"
                >Edit</a>
                |
                <a
                  href="#"
                  onClick="deleteEmployee(this)"
                  data-id="{{this.employeeID}}"
                  data-fname="{{this.fname}}"
                  data-lname="{{this.lname}}"
                  data-email="{{this.email}}"
                  data-deptname="{{this.departmentName}}"
                >Delete</a>
              </td>
              <td class="hidden">{{this.employeeID}}</td>
              <td>{{this.fname}}</td>
              <td>{{this.lname}}</td>
              <td>{{this.email}}</td>
              <td>{{this.departmentName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div id="insert" class="form-container" style="display: none;">
      <form id="addEmployee">
        <legend><strong>Add Employee</strong></legend>
        <fieldset>
          <label>First Name:
            <input type="text" id="input-fname" name="fname" /></label>
          <label>Last Name:
            <input type="text" id="input-lname" name="lname" /></label>
          <label>Email:
            <input type="text" id="input-email" name="email" /></label>
          <label>Department:
            <select id="input-deptid" name="deptID">
              {{#each departments}}
                <option value="{{this.deptID}}">{{this.name}}</option>
              {{/each}}
            </select>
          </label>
        </fieldset>
        <input class="btn" type="submit" value="Add Employee" />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onClick="browseMain()"
        />
      </form>
    </div>

    <div id="update" class="form-container" style="display: none;">
      <form id="updateEmployee">
        <legend><strong>Update Employee</strong></legend>
          <input type="hidden" name="employeeID" id="updateEmployeeID" />
          <label>First Name:
            <input type="text" name="fname" id="updateEmployeeFName" /></label>
          <label>Last Name:
            <input type="text" name="lname" id="updateEmployeeLName" /></label>
          <label>Email:
            <input type="text" name="email" id="updateEmployeeEmail" /></label>
          <label>Department:
            <select id="updateEmployeeDeptID">
              {{#each departments}}
                <option value={{this.deptID}}>{{this.name}}</option>
              {{/each}}
            </select>
          </label>
        <input class="btn" type="submit" value="Update Employee" />
        <input
          class="btn" type="button" value="Cancel" onClick="browseMain()"
        />
      </form>
    </div>

    <div id="delete" class="form-container" style="display: none;">
      <form id="deleteEmployee">
        <legend><strong>Delete Employee</strong></legend>
        <input type="hidden" id="deleteEmployeeID" disabled />
        <label>First Name: <input type="text" id="deleteEmployeeFName" disabled /></label>
        <label>Last Name: <input type="text" id="deleteEmployeeLName" disabled /></label>
        <label>Email: <input type="text" id="deleteEmployeeEmail" disabled /></label>
        <label>Department: <input type="text" id="deleteEmployeeDeptID" disabled /></label>
        <input type="hidden" name="employeeID" id="deleteEmployeeID" />
        <input class="btn" type="submit" value="Delete Employee" />
        <input
          class="btn" type="button" value="Cancel" onClick="browseMain()"
        />
      </form>
    </div>
  </main>
</body>
